.logo {
	display: flex;
	height: 93vh;
	margin: auto;
	aspect-ratio: 1.08 / 1;
}
.grid {
	position: relative;
	margin-top: 4.5vh;
	margin: auto;
	aspect-ratio: 1 / 1;
	height: 90%;
}
.cell {
	box-sizing: border-box;
	position: absolute;
	width: 20%;
	height: 20%;
	border: 10px solid white;
	text-align: center;
	background-color: #1c286d;
}
img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.bracket {
	height: 100%;
}
#cell11 {
	top: 0%;
	left: 0%;
}
#cell12 {
	top: 0%;
	left: 20%;
}
#cell13 {
	top: 0%;
	left: 40%;
}
#cell14 {
	top: 0%;
	left: 60%;
}
#cell15 {
	top: 0%;
	left: 80%;
}
#cell21 {
	top: 20%;
	left: 0%;
}
#cell22 {
	top: 20%;
	left: 20%;
}
#cell23 {
	top: 20%;
	left: 40%;
}
#cell24 {
	top: 20%;
	left: 60%;
}
#cell25 {
	top: 20%;
	left: 80%;
}
#cell31 {
	top: 40%;
	left: 0%;
}
#cell32 {
	top: 40%;
	left: 20%;
}
#cell33 {
	top: 40%;
	left: 40%;
}
#cell34 {
	top: 40%;
	left: 60%;
}
#cell41 {
	top: 60%;
	left: 0%;
}
#cell42 {
	top: 60%;
	left: 20%;
}
#cell43 {
	top: 60%;
	left: 40%;
}
#cell44 {
	top: 60%;
	left: 60%;
}
#cell45 {
	top: 60%;
	left: 80%;
}
#cell51 {
	top: 80%;
	left: 0%;
}
#cell52 {
	top: 80%;
	left: 20%;
}
#cell53 {
	top: 80%;
	left: 40%;
}
#cell54 {
	top: 80%;
	left: 60%;
}
#cell55 {
	top: 80%;
	left: 80%;
}
